<a href="https://colab.research.google.com/github/ahm3dfaisal/begin/blob/main/Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First experiment

In [ ]:
import numpy as np

In [ ]:
list1 =[1, 2, 3, 4]
list2 = [[1, 2, 3, 4]]
list3 = [[1, 2, 3, 4], [10, 20, 30, 40], [100, 200, 300, 400]]

arr1 = np.array(list1)
arr2 = np.array(list2)
arr3 = np.array(list3)
print(type(arr1), type(arr2), type(arr3))

<class 'numpy.ndarray'> <class 'numpy.ndarray'> <class 'numpy.ndarray'>

In [ ]:
import pandas as pd

In [ ]:
myList = [[1,2,3,4,4], [0,20,30,40,50]]
df3 = pd.DataFrame(myList, index = ['A', 'B'], columns = ['1st', '2nd', '3rd', '4th', '5th'])
print(df3)

   1st  2nd  3rd  4th  5th
A    1    2    3    4    4
B    0   20   30   40   50

In [ ]:
classData = pd.read_csv('pandasDemo.csv')

In [ ]:
classData.head(6)

  ModuleID Instructor      TA  Enrolment  Rating
0    CS101      Aaron    Vera       38.0     9.0
1    CS101       Beth   Carol        NaN     9.0
2    CS101     Calvin    Andy       28.0     7.0
3    CS102        Dan  Zidane       39.0     6.0
4    CS102      Aaron    Andy       32.0     NaN
5    CS102       Beth    Vera        NaN     7.0

In [ ]:
df = pd.read_csv('datapreprocessing.csv')
df

   Color  Years  Strength  Height       Weight Dangerous
0  Green    2.3     210.0   170.0  20 to 30 kg       Yes
1    Red    4.1     100.0     NaN  10 to 20 kg        No
2   Blue    1.4       NaN   412.0   0 to 10 kg        No
3  Green    NaN     313.0   123.0  10 to 20 kg       Yes
4    NaN    5.2     512.0   372.0   0 to 10 kg       Yes

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
imp = SimpleImputer(missing_values=np.nan, strategy='mean')

In [ ]:
imp.fit(df[['Years', 'Strength', 'Height']])

SimpleImputer()

In [ ]:
print(imp.statistics_)

[  3.25 283.75 269.25]

In [ ]:
df[['Years', 'Strength', 'Height']] = imp.transform(df[['Years', 'Strength', 'Height']])

In [ ]:
df

   Color  Years  Strength  Height       Weight Dangerous
0  Green   2.30    210.00  170.00  20 to 30 kg       Yes
1    Red   4.10    100.00  269.25  10 to 20 kg        No
2   Blue   1.40    283.75  412.00   0 to 10 kg        No
3  Green   3.25    313.00  123.00  10 to 20 kg       Yes
4    NaN   5.20    512.00  372.00   0 to 10 kg       Yes